.faq {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 0 100px;
    padding-top: 20px;
    @media(max-width: 1024px) {
      grid-template-columns: repeat(auto-fill, 100%);
      gap: 16px 32px;

    }
  }
}

.faq-item {

  display: flex;
  flex-direction: column;
  padding-inline: 32px;
  margin-inline: -32px;
  padding-block: 26px 0;
  transition: padding .2s;

  @media(max-width: 1024px) {
    padding-inline: 16px;
    margin-inline: -16px;
  }
  @media(max-width: 480px) {
    margin-inline: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 22.95px;
    text-align: left;
    color: #191B20;
    padding-bottom: 18px;
    border-bottom: 1px solid #CACDD6;

    > span {
      display: block;
      max-width: 610px;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: linear-gradient(90.00deg, rgb(159, 225, 31), rgb(255, 221, 72) 58%, rgb(255, 146, 23) 100%);
    border-radius: 100%;
    fill: #191B20;

    svg {
      transition: all .2s;
      width: 14px;
      height: 14px;
    }
  }

  &__answer {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
  }

  &[data-open="true"] {
    border-radius: 30px;
    background: linear-gradient(90.00deg, rgb(159, 225, 31), rgb(255, 221, 72) 58%, rgb(255, 146, 23) 100%);
    padding-block: 26px 20px;

    .faq-item__button {
      border-bottom-color: #191B20;
    }

    .faq-item__answer {
      padding-top: 26px;
    }

    .faq-item__arrow {
      background: #191B20;

      svg {
        transform: rotate(90deg);
        fill: white;
        stroke: white;
      }
    }
  }
}

.faq-item[open] {
  background: linear-gradient(90.00deg, rgb(159, 225, 31), rgb(255, 221, 72) 58%, rgb(255, 146, 23) 100%);

  .faq-item__arrow {
    fill: #FFFFFF;
    background: #191B20;

    svg {
      transform: rotate(90deg);
    }
  }
}