@import "../lib/fluid";

.out-staff-table {
  max-width: 1040px;
  margin-top: 30px;
  margin-left: 20px;
}

.out-staff-table-months {
  padding-block: 12px;
  display: grid;
  grid-template-columns: 166px 184px 250px 214px 225px;
  text-align: center;
  font-size: 24px;
  #months3 {
    grid-column: 2 / 4;
  }
  #months6 {
    grid-column: 4 / 6;
  }
  @media (max-width: 1280px) {
    grid-template-columns: 1fr 150px 220px 200px 200px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 150px 150px 150px 150px;
    font-size: 20px;
  }
  @media (max-width: 768px) {
    padding-block: 20px;
    font-size: 12px;
    grid-template-columns: 1fr 60px 80px 60px 80px;
  }
}

.out-staff-table-month {
  color: rgba(0, 0, 0, 0) !important;
  background: linear-gradient(90deg, #9fe11f 0, #ffdd48 58%, #ff9217 100%) !important;
  background-clip: text !important;
}

.out-staff-table-header {
  color: #8d8d8d;
  display: grid;
  grid-template-columns: 166px 184px 250px 214px 225px;
  text-align: center;
  font-size: 24px;
  padding-block: 39px;
  &__level {
    text-align: left;
  }
  @media (max-width: 1280px) {
    grid-template-columns: 1fr 150px 220px 200px 200px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 150px 150px 150px 150px;
    font-size: 20px;
  }
  @media (max-width: 768px) {
    padding-block: 20px;
    font-size: 12px;
    grid-template-columns: 1fr 60px 80px 60px 80px;
  }
  @media (max-width: 576px) {
    font-size: 10px;
    grid-template-columns: 1fr 50px 70px 50px 70px;
  }
}

.out-staff-table-item {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    border-top: 1px solid rgba(141, 141, 141, 0.3);
  }
  &__content {
    display: grid;
    grid-template-columns: 166px 184px 250px 214px 225px;
    text-align: center;
    font-size: 24px;
    margin-left: -20px;
    padding-inline: 20px;
    padding-block: 39px;
    border-radius: 20px;
    &:hover {
      background: linear-gradient(90deg, #9fe11f, #ffdd48 58%, #ff9217 100%);
    }
    @media (max-width: 1280px) {
      grid-template-columns: 1fr 150px 220px 200px 200px;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 150px 150px 150px 150px;
      font-size: 20px;
    }
    @media (max-width: 768px) {
      padding-block: 20px;
      font-size: 12px;
      grid-template-columns: 1fr 60px 80px 60px 80px;
    }
    @media (max-width: 576px) {
      font-size: 10px;
      grid-template-columns: 1fr 50px 70px 50px 70px;
    }
  }
  &__level {
    text-align: left;
  }
  &__hour, &__month {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_text {
      color: #8d8d8d;
    }
  }

  &:nth-last-child(2) {
    margin-bottom: 40px;
    &:after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: calc(100% - 20px);
      border-bottom: 1px solid rgba(141, 141, 141, 0.3);
    }
    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
  &:last-child {
    &:before {
      border-top: none;
    }
  }
}