.out-staff-work {
  margin-bottom: 20px;

  &__items {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 315px));
    grid-auto-rows: 120px;
    margin-inline: auto;
    grid-template-areas:
    "item1 item2 text1 text1"
    ".     item3 item4 ."
    "text2 text2 item5 item6";
    gap: 20px;
    @media(max-width: 968px) {
      grid-template-columns: repeat(2, minmax(180px, 1fr));
      grid-auto-rows: unset;
      grid-template-areas:
      "text1 text1"
      "text2 text2"
      "item1 item2"
      "item3 item4"
      "item5 item6"
    }
    @media(max-width: 480px) {
      grid-template-columns: 1fr;
      grid-auto-rows: unset;
      grid-template-areas: unset;
      display: flex;
      flex-direction: column;
    }
  }
}

.out-staff-work-profit {
  display: none;
  font-size: 28px;
  font-weight: 700;
  padding-top: 40px;
  text-align: center;
}

.out-staff-work-text {
  display: flex;
  align-items: center;
  font-family: "Onest", sans-serif;
  @include fluid-type(48px, 140px);

  font-weight: 600;
  opacity: .05;
  line-height: 100%;

  &:nth-child(1) {
    grid-area: text1;
  }

  &:nth-child(2) {
    grid-area: text2;
    direction: rtl;
    text-align: left;
  }
}

.out-staff-work-item {
  display: flex;
  align-items: center;
  height: 120px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding: 40px 30px;

  &:hover {
    background: linear-gradient(90.00deg, rgb(159, 225, 31), rgb(255, 221, 72) 58%, rgb(255, 146, 23) 100%) padding-box,
    linear-gradient(90.00deg, rgb(159, 225, 31), rgb(255, 221, 72) 58%, rgb(255, 146, 23) 100%) border-box;

    .out-staff-work-item__icon {
      display: block;
    }
  }

  &.item1 {
    grid-area: item1;
  }

  &.item2 {
    grid-area: item2;
  }

  &.item3 {
    grid-area: item3;
  }

  &.item4 {
    grid-area: item4;
  }

  &.item5 {
    grid-area: item5;
  }

  &.item6 {
    grid-area: item6;
  }

  &__descr {
    font-size: 16px;
    font-weight: 400;
    font-family: "Onest", sans-serif;
  }

  &__icon {
    position: absolute;
    display: none;
    right: -18px;
    bottom: -18px;
  }
}