@import "../lib/fluid";

.tape {
  background: linear-gradient(90.00deg, rgb(159, 225, 31), rgb(255, 221, 72) 58%, rgb(255, 146, 23) 100%);
  overflow: hidden;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    animation: animate-tape 20s linear infinite;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-inline: calc(28 / 32 * 1em);
    padding-block: calc(36 / 32 * 1em);

    @include fluid-type(18px, 32px);
    font-family: 'Josefin Sans', serif;
    font-weight: 500;
    line-height: 1.45;
    text-transform: uppercase;
    white-space: nowrap;
    color: #191B20;
  }
}

@keyframes animate-tape {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
