@import '../lib/fluid';

.technology {
  &__container {
    border-radius: 50px;
    padding: 50px 50px 0;
    background-color: #F9F9F9;
  }


}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

.system {
  position: relative;
  width: calc(100% + 100px);
  margin-inline: -50px;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: center;
  @include fluid-type(12px, 20px);
  height: 27em;
  @media(max-width: 768px) {
    height: 12em;
  }

  &__orbits {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
  }

  &__center {
    z-index: 1;
  }

  &__orbit {
    --tracksize: 3px;
    width: calc(var(--radius) * 2 + var(--tracksize));
    aspect-ratio: 1;
    transition: --angle 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: linear-gradient(#F9F9F9, #F9F9F9) padding-box,
    linear-gradient(90.00deg, rgb(159, 225, 31), rgb(255, 221, 72) 58%, rgb(255, 146, 23) 100%) border-box;
    border: 3px solid transparent;
    transform: translate(-50%, -50%);

    &--small {
      --radius: 14em;
      transform: translate(-50%, -50%) rotate(-215deg);
      animation: spin infinite 20s linear;
      @keyframes spin {
        from {
          transform: translate(-50%, -50%) rotate(-215deg);
        }
        to {
          transform: translate(-50%, -50%) rotate(145deg);
        }
      }
      @media(max-width: 480px) {
        display: none;
      }
    }

    &--big {
      --radius: 18em;
      animation: spin-2 infinite 30s linear;
      @keyframes spin-2 {
        from {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
          transform: translate(-50%, -50%) rotate(-360deg);
        }
      }
      @media(max-width: 480px) {
        display: none;
      }
    }


  }

  &__icon {
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    width: 4em;
    position: absolute;
    left: calc(50% - 2em);
    top: calc(50% - 2em);

    background: #333;

    transform: translate(calc(cos(var(--angle)) * var(--radius)), calc(sin(var(--angle) * -1) * var(--radius))) rotate(calc(90deg - 1 * var(--angle)));

    &--dot {
      background-color: #FF971B;
      width: 20px;
      left: calc(50% - 10px);
      top: calc(50% - 10px);

      &:nth-child(1) {
        --angle: 180deg;
      }

      &:nth-of-type(2) {
        --angle: 110deg;
      }

      &:nth-of-type(3) {
        --angle: 70deg;
      }

      &:nth-of-type(4) {
        --angle: 15deg;
      }

      &:nth-of-type(5) {
        --angle: -60deg;
      }

      &:nth-of-type(6) {
        --angle: -150deg;

      }
    }


    &--java {
      background: #FFE264;
      --angle: 90deg;
      padding: 2px;
    }

    &--js {
      background: #F0DB4F;
      --angle: -100deg;
      padding: 10px;

    }

    &--vue {
      background: #F0DB4F;
      --angle: -150deg;
      padding: 10px;

    }

    &--php {
      background: #FF9217;
      --angle: 45deg;
      padding: 10px;

    }

    &--python {
      background: #FF9217;
      --angle: 160deg;
      padding: 10px;

    }

    &--ts {
      background: #007ACC;
      --angle: 0deg;
      padding: 10px;

    }

    &--react {
      --angle: -30deg;
      padding: 10px;

    }

    &--nodejs {
      background: #E3F398;
      --angle: 135deg;
      padding: 10px;
    }
  }
}

.system-center {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateX(-5%);

  &__circle {
    aspect-ratio: 1;
    border-radius: 50%;

    &--outline {
      width: 4.7em;
      border: 1px solid #9FE11F;
    }

    &--fill {
      background-color: #FFDD48;
      width: 3.9em;
      align-self: end;
    }
  }

  &__text {
    font-family: Onest, serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    border-radius: 64px;
    padding-block: 0.9em;
    white-space: nowrap;
    color: white;

    &--client {
      background-color: #FF9217;
      width: max-content;
      position: absolute;
      bottom: 3.9em;
      padding-inline: 4.8em;
      /* rotate: -9deg; */
      transform-origin: 72% 100%;
      transform: rotate(-13deg);
    }

    &--server {
      background-color: #9FE11F;
      width: max-content;
      padding-inline: 1.6em;
      transform: rotate(5deg);
      transform-origin: 10% 100%;
    }
  }
}















