.test-steps {
  &__wrapper {
  }

  &__items {
    margin-top: 50px;
    margin-bottom: 17px;
    display: flex;
    @media(max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.test-steps-item {
  border-radius: 0;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(min-width: 1024px) {
    padding-block: 30px;
    padding-inline: 15px;
    &:not(:last-child) {
      border-right: none;
    }
  }
  @media(max-width: 1023px) {
    padding-block: 15px;
    padding-inline: 30px;

    &:not(:first-child) {
      border-top: none;
    }
  }

  &:not(:last-child) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      background: white;
      left: 100%;
      top: 50%;
      z-index: 1;
      background-image: url('/icons/test-steps/arrow.svg');
      @media(min-width: 1024px) {
        left: 100%;
        top: 50%;
        transform: translate(-50%, -50%);

      }
      @media(max-width: 1023px) {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &:last-of-type {

    @media(max-width: 1023px) {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    @media(min-width: 1024px) {
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  &:first-of-type {

    @media(max-width: 1023px) {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    @media(min-width: 1024px) {
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

}