@font-face {
  font-family: "ActayWide";
  src: url("../fonts/ActayWide.otf");
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.ttf");
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

@import 'lib/reset';

@import 'base/layout';
@import 'base/shared';

@import 'blocks/button';

@import 'blocks/nav';
@import 'blocks/menu';
@import 'sections/promo';
@import 'sections/work-steps';
@import 'sections/technology';
@import 'blocks/portfolio';
@import 'blocks/services';
@import 'blocks/parsing';
@import 'blocks/targets';
@import 'sections/faq';
@import 'sections/feedback';
@import 'blocks/footer';

@import 'blocks/media';