@font-face {
  font-family: "ActayWide";
  src: url("../fonts/ActayWide.otf");
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.ttf");
}


@import 'lib/reset';
@import 'lib/fluid';

@import 'base/layout';
@import 'base/shared';

@import 'blocks/button';

@import 'blocks/nav';
@import 'blocks/promo';
@import 'sections/what-make';
@import 'sections/tape';
@import 'blocks/howdo';
@import 'blocks/test-steps';
@import 'blocks/out-staff-work';
@import 'blocks/out-staff-table';
@import 'blocks/clients';
@import 'blocks/how-work';
@import 'blocks/reviews';
@import 'blocks/faq';
@import 'blocks/feedback';
@import 'blocks/footer';

@import 'blocks/media';