@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}

.carousel-swiper {
  //display: flex;
  background: linear-gradient(90.00deg, rgb(159, 225, 31),rgb(255, 221, 72) 58%,rgb(255, 146, 23) 100%);
  margin-top: 100px;
  //overflow: hidden;
  height: 100px;
  overflow:hidden;
  position: relative;
  width: 100%;
  &__wrapper {
    display: flex;
    align-items: center;
    //width: max-content;
    //height: 110px;
    //transition-timing-function: linear !important;

    animation: scroll $animationSpeed linear infinite;
    gap: 20px;
    width: calc(250px * 7);
  }
}

.carousel-item {
  display: flex;
  width: auto;
  align-items: center;
  font-size: 32px;
  opacity: .8;
  text-transform: uppercase;
}