.carousel {
  &__items {
    display: flex;
    align-items: center;
    gap: 56px;
    height: 110px;
    background: linear-gradient(90.00deg, rgb(159, 225, 31),rgb(255, 221, 72) 58%,rgb(255, 146, 23) 100%);
    margin-top: 100px;
  }
}

.carousel-item {
  font-size: 32px;
  opacity: .8;
  text-transform: uppercase;
}