.feedback {
  padding-bottom: 171px;
  &__wrapper {
    display: flex;
    gap: 90px;
  }
  &__content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
  }
}

.feedback-forms {
  display: grid;
  grid-template-areas:
          "name telegram"
          "mail number"
          "company company"
          "description description";
  grid-template-rows: 47px 47px 47px 150px;
  gap: 20px;
}

.feedback-form {
  display: flex;
  background-color: #F4F4F4;
  border-radius: 16px;
  padding: 10px 20px;
  ::placeholder {
    font-size: 18px;
    color: #000000;
  }
  input, textarea {
    width: 100%;
    height: 100%;
    outline: none;
  }
  &.name {
    grid-area: name;
  }
  &.telegram {
    grid-area: telegram;
  }
  &.mail {
    grid-area: mail;
  }
  &.number {
    grid-area: number;
  }
  &.company {
    grid-area: company;
  }
  &.description {
    grid-area: description;
  }
}

.feedback-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 47px;
  background-color: #F4F4F4;
  border-radius: 16px;
  font-size: 18px;
}

.feedback-send {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 27px;
}

.feedback-send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 351px;
  height: 351px;
  background: linear-gradient(133.55deg, rgb(159, 225, 31) 10.819%,rgb(255, 221, 72) 56.573%,rgb(255, 146, 23) 89.705%);
  border-radius: 100%;
  &__text {
    font-size: 24px;
    font-weight: 500;
  }
  &__arrow {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.feedback-send-agree {
  font-size: 12px;
  max-width: 410px;
  text-align: center;
  color: #8D8D8D;
}