.how-work {
  &__items {
    display: grid;
    grid-template-columns: minmax(300px, 465px) minmax(200px, 386px) 56px minmax(200px, 344px);
    grid-template-rows: 300px 230px;
    grid-template-areas:
    'item1 item2 wide item3'
    'item1 item4 wide item5';
    gap: 23px;
  }
}

.how-work-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  border-radius: 36px;
  padding: 20px;
  overflow: hidden;

  &.item1 {
    background: url("/images/how-work/big.png") center / cover no-repeat;
    grid-area: item1;
  }

  &.item2 {
    background: url("/images/how-work/mini1.png") center / cover no-repeat;
    grid-column: item2 / wide;
  }

  &.item3 {
    background: url("/images/how-work/mini2.png") center / cover no-repeat;
    grid-area: item3;
  }

  &.item4 {
    background: url("/images/how-work/mini3.png") center / cover no-repeat;
    grid-area: item4;
  }

  &.item5 {
    background: url("/images/how-work/mini4.png") center / cover no-repeat;
    grid-column: wide / item5;
  }

  &__descr {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
  }
}