.outstaffwork  {
  &__items {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 315px);
    grid-auto-rows: 120px;
    margin-inline: auto;
    grid-template-areas:
    "item1   item2   text1  text1"
    ".       item3   item4  ."
    "text2   text2   item5  item6";
    gap: 20px;
  }
}

.outstaffwork-text {
  font-family: "Onest", sans-serif;
  font-size: 140px;
  font-weight: 600;
  opacity: .05;
  line-height: 100%;
  &:nth-child(1) {
    grid-area: text1;
  }
  &:nth-child(2) {
    grid-area: text2;
    direction: rtl;
    text-align: left;
  }
}

.outstaffwork-item {
  display: flex;
  align-items: center;
  width: 315px;
  height: 120px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding: 40px 30px;
  border: 2px solid transparent;
  background:
    linear-gradient(#FFFFFF, #FFFFFF) padding-box,
    linear-gradient(90.00deg, rgb(159, 225, 31),rgb(255, 221, 72) 58%,rgb(255, 146, 23) 100%) border-box;
  &:hover {
    background:
      linear-gradient(90.00deg, rgb(159, 225, 31),rgb(255, 221, 72) 58%,rgb(255, 146, 23) 100%) padding-box,
      linear-gradient(90.00deg, rgb(159, 225, 31),rgb(255, 221, 72) 58%,rgb(255, 146, 23) 100%) border-box;
    .outstaffwork-item__icon {
      display: block;
    }
  }
  &:nth-child(1) {
    grid-area: item1;
  }
  &:nth-child(2) {
    grid-area: item2;
  }
  &:nth-child(3) {
    grid-area: item3;
  }
  &:nth-child(4) {
    grid-area: item4;
  }
  &:nth-child(5) {
    grid-area: item5;
  }
  &:nth-child(6) {
    grid-area: item6;
  }
  &__descr {
    font-size: 16px;
    font-weight: 400;
  }
  &__icon {
    position: absolute;
    display: none;
    right: -18px;
    bottom: -18px;
  }
}