.promo {
  &__wrapper {
    background: url("../images/promo/background.png") center / cover no-repeat;
    height: 100vh;
    position: relative;
  }
}

.promo-title {
  padding-top: 230px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1215px;
  font-size: 66px;
  font-weight: 700;
  text-align: center;
  margin-inline: auto;
  overflow: hidden;
  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.promo-title-item {

  color: #FF971B;
}

.promo-scroll {
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12.5px;
  width: 180px;
  &__mouse {
    margin-inline: auto;
    width: 28px;
  }
  &__arrow {
    margin-inline: auto;
    height: 28px;
  }
  &__text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000000;
  }
}