.reviews-swiper {
  overflow: hidden;
  &__nav {
    margin-top: 20px;
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: end;
    .swiper-button-disabled {
      background-color: #EDEDED;
    }
    &_button {
      &-prev, &-next {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 0;
        background-color: #9FE11F;
        border-radius: 100%;
        padding: 18px;
        &:after {
          display: none;
        }
      }
    }
  }
}

.reviews-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 218px;
  padding: 32px;
  border-radius: 25px;
  &:nth-child(3n+2) {
    .reviews-item {
      &__quotes, &__rating_stars {
        fill: #9FE11F;
        stroke: #9FE11F;
        color: #9FE11F;
      }
    }
  }
  &:nth-child(3n+3) {
    .reviews-item {
      &__quotes, &__rating_stars {
        fill: #FFE264;
        stroke: #FFE264;
        color: #FFE264;
      }
    }
  }
  &.star1 {
    .reviews-item__rating_star {
      &:first-child {
        display: block;
      }
    }
  }
  &.star2 {
    .reviews-item__rating_star {
      &:first-child, &:nth-child(2) {
        display: block;
      }
    }
  }
  &.star3 {
    .reviews-item__rating_star {
      &:first-child, &:nth-child(2), &:nth-child(3) {
        display: block;
      }
    }
  }
  &.star4 {
    .reviews-item__rating_star {
      &:not(:last-child) {
        display: block;
      }
    }
  }
  &.star5 {
    .reviews-item__rating_star {
        display: block;
    }
  }
  &__quotes {
    width: 40px;
    height: 40px;
    background: url('../icons/reviews/quotes.svg') no-repeat;
    fill: #FF9217;
    stroke: #FF9217;
  }
  &__rating {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: end;
    &_stars {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #FF9217;
    }
    &_star {
      display: none;
      &:before {
        font-size: 16px;
        content: "★";
      }
    }
    &_date {
      font-size: 12px;
      color: rgb(123, 129, 153);
    }
  }
  &__descr {
    font-size: 14px;
    color: rgb(123, 129, 153);
  }
}