.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
  &.pt120 {
    padding-top: 120px;
  }
}

.title {
  font-size: 64px;
  font-weight: 700;
  &-icon {
    height: 34px;
  }
}
.subtitle {
  max-width: 880px;
  font-size: 24px;
  opacity: .8;
}