.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 30px;
  &.pb40 {
    padding-bottom: 40px;
  }
  &.pb50 {
    padding-bottom: 50px;
  }
  &.pinl60 {
    padding-inline: 60px;
    @media (max-width: 1200px) {
      padding-inline: 40px;
    }
    @media (max-width: 1024px) {
      padding-inline: 30px;
    }
    @media (max-width: 768px) {
      padding-inline: 20px;
    }
    @media (max-width: 640px) {
      padding-inline: 16px;
    }
    @media (max-width: 480px) {
      padding-inline: 8px;
    }
    @media (max-width: 375px) {
      padding-inline: 6px;
    }
  }
}

.title {
  font-size: 64px;
  font-weight: 700;
  &-icon {
    margin-top: 20px;
    padding-left: 10px;
    height: 34px;
  }
}
.subtitle {
  max-width: 880px;
  font-size: 24px;
  opacity: .8;
}